[submodule "teensy-firmware/submodule_teensy_cores"]
	path = teensy-firmware/submodule_teensy_cores
	url = git@github.com:tulth/cores.git
[submodule "teensy-firmware/submodule_arduino_msgpack"]
	path = teensy-firmware/submodule_arduino_msgpack
	url = https://github.com/HEADS-project/arduino_msgpack.git
